.Main {
    width: 300px;
    height: 380px;
    margin-top: 45px;
    margin: 40px;
}

.Card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.8s;
    transform-style: preserve-3d;
}

.Main:hover .Card {
    transform: rotateY(180deg);
}

.CardFront,
.CardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.09);
    align-items: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateX(0deg);
    border: 2px black solid;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.CardFront {
    color: black;
}

.CardBack {
    color: black;
    transform: rotateY(180deg);
}

.name {
    color: rgb(241, 241, 41);
    -webkit-text-stroke: 2px rgb(13, 93, 223);
    letter-spacing: 5px;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.img {
    width: 270px;
    height: 270px;
    border-radius: 15px;
}

.tipos {
    font-size: 40px;
    color: black
}

.tiposList {
    display: block;
    color: black;
    font-size: 40px;
    margin-top: 5px;
    text-transform: capitalize;
}

.id {
    color: black;
    font-size: 25px;
    margin-top: 40px;
}

a {
    text-decoration: none;
}